build/
tmp/
env.*

**/.antlr
**/__pycache__

antlr/*
!antlr/setup.sh
llvm/*
!llvm/setup.sh
pybind11/*
!pybind11/setup.sh

.devcontainer/*
!.devcontainer/devcontainer.json
!.devcontainer/yatcc.Containerfile
!.devcontainer/build-image.sh
!.devcontainer/upload-images.sh

.DS_Store

#CLion
.idea
Testing